<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>EAで出来ること+α</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>EA&#12391;&#20986;&#26469;&#12427;&#12371;&#12392;+&#945;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-b45d2017d5234f8198e17c4fb689ed97.png" alt="EAで出来ること+α" usemap="#id-b45d2017d5234f8198e17c4fb689ed97map"/>
			   <map name="id-b45d2017d5234f8198e17c4fb689ed97map">
				  		<area shape="rect" coords="574,298,694,353" href="../elements/id-981daa726db746fa92891129e5fa31aa.html"  target="element">
				  		<area shape="rect" coords="370,298,490,353" href="../elements/id-8fad6416ad3d44aca8e5ddf341c1e4ad.html"  target="element">
				  		<area shape="rect" coords="10,10,130,65" href="../elements/id-414813e3d7c94497a4c169917ddcaa56.html"  target="element">
				  		<area shape="rect" coords="190,10,310,65" href="../elements/id-ad06c5bdefc44fdeaecf9f5f0bf8c955.html"  target="element">
				  		<area shape="rect" coords="574,202,694,257" href="../elements/id-76c536e0f8e64d17b3b7d2a49213d4cb.html"  target="element">
				  		<area shape="rect" coords="574,106,694,161" href="../elements/id-e83110b807994168a787a730fa5ba50f.html"  target="element">
				  		<area shape="rect" coords="368,203,488,258" href="../elements/id-db5239ed3054497c98a6a9e6edfb9c5e.html"  target="element">
				  		<area shape="rect" coords="370,106,490,161" href="../elements/id-abccee1cff1741408275d086cbcea87b.html"  target="element">
				  		<area shape="rect" coords="370,10,490,65" href="../elements/id-60a6708dfa2a427faa21072efcd60296.html"  target="element">
				  		<area shape="rect" coords="190,106,310,161" href="../elements/id-1771b04630584cffb02bfcaaa6bcd2d0.html"  target="element">
				  		<area shape="rect" coords="10,106,130,161" href="../elements/id-e3d77aacf8374d059be2471290f77231.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-e3d77aacf8374d059be2471290f77231.html" target="element"> &#12354;&#12394;&#12383; </a> </td>
											    <td> <a href="../elements/id-e3d77aacf8374d059be2471290f77231.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1771b04630584cffb02bfcaaa6bcd2d0.html" target="element"> &#12456;&#12531;&#12479;&#12540;&#12503;&#12521;&#12452;&#12474;&#12539;&#12450;&#12540;&#12461;&#12486;&#12463;&#12488; </a> </td>
											    <td> <a href="../elements/id-1771b04630584cffb02bfcaaa6bcd2d0.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-60a6708dfa2a427faa21072efcd60296.html" target="element"> &#20250;&#31038;&#12434;&#22793;&#12360;&#12424;&#12358;&#65281; </a> </td>
											    <td> <a href="../elements/id-60a6708dfa2a427faa21072efcd60296.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-abccee1cff1741408275d086cbcea87b.html" target="element"> &#32032;&#26228;&#12425;&#12375;&#12356;&#12450;&#12540;&#12461;&#12486;&#12463;&#12481;&#12515;&#12434;&#21109;&#12427; </a> </td>
											    <td> <a href="../elements/id-abccee1cff1741408275d086cbcea87b.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-db5239ed3054497c98a6a9e6edfb9c5e.html" target="element"> &#12362;&#22909;&#12415;&#12398;&#12484;&#12540;&#12523; </a> </td>
											    <td> <a href="../elements/id-db5239ed3054497c98a6a9e6edfb9c5e.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e83110b807994168a787a730fa5ba50f.html" target="element"> ArchiMate&#12514;&#12487;&#12523; </a> </td>
											    <td> <a href="../elements/id-e83110b807994168a787a730fa5ba50f.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-76c536e0f8e64d17b3b7d2a49213d4cb.html" target="element"> ArchiMate&#20114;&#25563;&#12501;&#12449;&#12452;&#12523; </a> </td>
											    <td> <a href="../elements/id-76c536e0f8e64d17b3b7d2a49213d4cb.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ad06c5bdefc44fdeaecf9f5f0bf8c955.html" target="element"> &#12487;&#12451;&#12471;&#12472;&#12519;&#12531;&#12392;&#12497;&#12501;&#12457;&#12540;&#12510;&#12531;&#12473; </a> </td>
											    <td> <a href="../elements/id-ad06c5bdefc44fdeaecf9f5f0bf8c955.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-414813e3d7c94497a4c169917ddcaa56.html" target="element"> &#12490;&#12524;&#12483;&#12472;&#12392;&#12473;&#12461;&#12523; </a> </td>
											    <td> <a href="../elements/id-414813e3d7c94497a4c169917ddcaa56.html" target="element" class="i18n-elementtype-Resource">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8fad6416ad3d44aca8e5ddf341c1e4ad.html" target="element"> &#12497;&#12477;&#12467;&#12531; </a> </td>
											    <td> <a href="../elements/id-8fad6416ad3d44aca8e5ddf341c1e4ad.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-981daa726db746fa92891129e5fa31aa.html" target="element"> XML&#12467;&#12540;&#12489; </a> </td>
											    <td> <a href="../elements/id-981daa726db746fa92891129e5fa31aa.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-5957d1b34d854174bc345d971873f14e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5957d1b34d854174bc345d971873f14e.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e3d77aacf8374d059be2471290f77231.html" target="element"> &#12354;&#12394;&#12383; </a> </td>
																		<td> <a href="../elements/id-1771b04630584cffb02bfcaaa6bcd2d0.html" target="element"> &#12456;&#12531;&#12479;&#12540;&#12503;&#12521;&#12452;&#12474;&#12539;&#12450;&#12540;&#12461;&#12486;&#12463;&#12488; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fb512f04e4c643a1816f81d31894c1af.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fb512f04e4c643a1816f81d31894c1af.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e3d77aacf8374d059be2471290f77231.html" target="element"> &#12354;&#12394;&#12383; </a> </td>
																		<td> <a href="../elements/id-414813e3d7c94497a4c169917ddcaa56.html" target="element"> &#12490;&#12524;&#12483;&#12472;&#12392;&#12473;&#12461;&#12523; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c0fe8c6384904ac7964dacb9604d4c67.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c0fe8c6384904ac7964dacb9604d4c67.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1771b04630584cffb02bfcaaa6bcd2d0.html" target="element"> &#12456;&#12531;&#12479;&#12540;&#12503;&#12521;&#12452;&#12474;&#12539;&#12450;&#12540;&#12461;&#12486;&#12463;&#12488; </a> </td>
																		<td> <a href="../elements/id-abccee1cff1741408275d086cbcea87b.html" target="element"> &#32032;&#26228;&#12425;&#12375;&#12356;&#12450;&#12540;&#12461;&#12486;&#12463;&#12481;&#12515;&#12434;&#21109;&#12427; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d0c69b33bfc54efe87cdf7da05c58da5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d0c69b33bfc54efe87cdf7da05c58da5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-abccee1cff1741408275d086cbcea87b.html" target="element"> &#32032;&#26228;&#12425;&#12375;&#12356;&#12450;&#12540;&#12461;&#12486;&#12463;&#12481;&#12515;&#12434;&#21109;&#12427; </a> </td>
																		<td> <a href="../elements/id-60a6708dfa2a427faa21072efcd60296.html" target="element"> &#20250;&#31038;&#12434;&#22793;&#12360;&#12424;&#12358;&#65281; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-674560f7a0ea41a4aa8aaa9a5df3a330.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-674560f7a0ea41a4aa8aaa9a5df3a330.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-abccee1cff1741408275d086cbcea87b.html" target="element"> &#32032;&#26228;&#12425;&#12375;&#12356;&#12450;&#12540;&#12461;&#12486;&#12463;&#12481;&#12515;&#12434;&#21109;&#12427; </a> </td>
																		<td> <a href="../elements/id-e83110b807994168a787a730fa5ba50f.html" target="element"> ArchiMate&#12514;&#12487;&#12523; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7acacfb0b9914aa19ac96924b1f253ab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7acacfb0b9914aa19ac96924b1f253ab.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-db5239ed3054497c98a6a9e6edfb9c5e.html" target="element"> &#12362;&#22909;&#12415;&#12398;&#12484;&#12540;&#12523; </a> </td>
																		<td> <a href="../elements/id-abccee1cff1741408275d086cbcea87b.html" target="element"> &#32032;&#26228;&#12425;&#12375;&#12356;&#12450;&#12540;&#12461;&#12486;&#12463;&#12481;&#12515;&#12434;&#21109;&#12427; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4e53ab57079d4b6ca35112ccf848171e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4e53ab57079d4b6ca35112ccf848171e.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-db5239ed3054497c98a6a9e6edfb9c5e.html" target="element"> &#12362;&#22909;&#12415;&#12398;&#12484;&#12540;&#12523; </a> </td>
																		<td> <a href="../elements/id-76c536e0f8e64d17b3b7d2a49213d4cb.html" target="element"> ArchiMate&#20114;&#25563;&#12501;&#12449;&#12452;&#12523; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e5a529d12e7d4bb5bdacdfdab78899f5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e5a529d12e7d4bb5bdacdfdab78899f5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-76c536e0f8e64d17b3b7d2a49213d4cb.html" target="element"> ArchiMate&#20114;&#25563;&#12501;&#12449;&#12452;&#12523; </a> </td>
																		<td> <a href="../elements/id-e83110b807994168a787a730fa5ba50f.html" target="element"> ArchiMate&#12514;&#12487;&#12523; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-33b16639149d4d7b9505f89677a9bf49.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-33b16639149d4d7b9505f89677a9bf49.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad06c5bdefc44fdeaecf9f5f0bf8c955.html" target="element"> &#12487;&#12451;&#12471;&#12472;&#12519;&#12531;&#12392;&#12497;&#12501;&#12457;&#12540;&#12510;&#12531;&#12473; </a> </td>
																		<td> <a href="../elements/id-60a6708dfa2a427faa21072efcd60296.html" target="element"> &#20250;&#31038;&#12434;&#22793;&#12360;&#12424;&#12358;&#65281; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c5db12e47b334292a3486120cb34d954.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c5db12e47b334292a3486120cb34d954.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-414813e3d7c94497a4c169917ddcaa56.html" target="element"> &#12490;&#12524;&#12483;&#12472;&#12392;&#12473;&#12461;&#12523; </a> </td>
																		<td> <a href="../elements/id-ad06c5bdefc44fdeaecf9f5f0bf8c955.html" target="element"> &#12487;&#12451;&#12471;&#12472;&#12519;&#12531;&#12392;&#12497;&#12501;&#12457;&#12540;&#12510;&#12531;&#12473; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c1b1aed94afb465197219bd9ee929fad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c1b1aed94afb465197219bd9ee929fad.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8fad6416ad3d44aca8e5ddf341c1e4ad.html" target="element"> &#12497;&#12477;&#12467;&#12531; </a> </td>
																		<td> <a href="../elements/id-981daa726db746fa92891129e5fa31aa.html" target="element"> XML&#12467;&#12540;&#12489; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d21f00b04b2146fd9bf0f9e5c0d1ee5d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d21f00b04b2146fd9bf0f9e5c0d1ee5d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8fad6416ad3d44aca8e5ddf341c1e4ad.html" target="element"> &#12497;&#12477;&#12467;&#12531; </a> </td>
																		<td> <a href="../elements/id-db5239ed3054497c98a6a9e6edfb9c5e.html" target="element"> &#12362;&#22909;&#12415;&#12398;&#12484;&#12540;&#12523; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8ddc7076028240a9b46b0c75fe6df62c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8ddc7076028240a9b46b0c75fe6df62c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-981daa726db746fa92891129e5fa31aa.html" target="element"> XML&#12467;&#12540;&#12489; </a> </td>
																		<td> <a href="../elements/id-76c536e0f8e64d17b3b7d2a49213d4cb.html" target="element"> ArchiMate&#20114;&#25563;&#12501;&#12449;&#12452;&#12523; </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>